/*
Custom Css
*/
input[type=password] {font-family:'Malgun gothic', dotum, sans-serif;}

@font-face {
font-family: 'BMHANNAPro';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
font-weight: normal;
font-style: normal;
}
#heart {
   background: url( "../img/unheart.png" ) no-repeat;
}
#star {
  background: url( "../img/unstar.png" ) no-repeat;
}

.info {
    border-bottom : 2px solid black;
}

.first {
    background-color : #FAFAD2;
}

.second {
    background-color : #FFEFD5;
}
.third {
    background-color : #FDF5E6;
}

.fourth{
    background-color : #dcdcdc;
}

.fifth {
    background-color: #bebebe;
}


.rank_profile {
    width : 100px;
    height : 100px;
    position: static;
}

.mypage_profile{
    width : 220px;
    height : 220px;
    position: static;
}
.detail_profile {
    width : 80px;
    height : 80px;
}


.form {
    min-height: 80vh;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .7rem;
}
.link_image{
    width: 50px;
    height : 50px;
}

.title {
    display:-webkit-box;
    white-space:normal;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    overflow: hidden;
}

.content {
    display:-webkit-box;
    white-space:normal;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow: hidden;
}

/*@media (width < 720){*/
/* .card-img-top {*/
/* height : 60vh;*/
/* }*/
/*}*/

.login_profile {
    width:20vw;
}

.active {
    color: red;
}