<!DOCTYPE html>
<html lang="en">

<head>
    <title>곽곽 랭킹</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../static/img/apple-icon.png">
    <link rel="shortcut icon" type="/image/x-icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/templatemo.css">
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">

</head>

<body>

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
            Zay
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-end ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">곽곽랭킹</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comunity.html">커뮤니티</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comunity.html">곽곽 RSS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shop.html">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->
<section class="container py-5">
    <h4>곽곽랭킹 | Github</h4>
    <div class="d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-between">
            <span>가을의 정원사 랭킹(9월~11월)</span>
            <a class="nav-link ms-auto" href="#"> 자세히 보기 -></a>
        </div>
        <div class="row text-center">
            <div class="col-12 col-sm mb-4">
                <div class="py-5">
                    <div class="p-2" id="first">
                        <p class="h3 py-2">1등</p>
                        <div class="d-flex justify-content-center">
                            <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        </div>
                        <p class="h3 py-2">홍성웅</p>
                        <p class="h5 py-2">1540점</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm mb-4">
                <div class="py-5 px-2">
                    <div class="p-2" id="second">
                        <p class="h3 py-2">2등</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile_2.jpg" alt="profile">
                        <p class="h3 py-2">일기호</p>
                        <p class="h5 py-2">1520점</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm mb-4">
                <div class="py-5 px-2">
                    <div class="p-2" id="third">
                        <p class="h3 py-2">3등</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile_3.png" alt="profile">
                        <p class="h3 py-2">먹꼬자</p>
                        <p class="h5 py-2">1000점</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm mb-4">
                <div class="py-5 px-2">
                    <div class="p-2" id="fourth">
                        <p class="h3 py-2">4등</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile_3.png" alt="profile">
                        <p class="h3 py-2">심점빌런</p>
                        <p class="h5 py-2">10점</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm mb-4">
                <div class="py-5 px-2">
                    <div class="p-2" id="fifth">
                        <p class="h3 py-2">5등</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile_3.png" alt="profile">
                        <p class="h3 py-2">일점</p>
                        <p class="h5 py-2">1점</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <span>9월 4주차 정원사 랭킹</span>
            <a class="nav-link ms-auto" href="#"> 자세히 보기 -></a>
        </div>
        <div class="row text-center ">
            <div class="col-12 col-md-3 mb-4">
                <div class="py-5">
                    <div class="p-2 d-flex align-items-center" id="first">
                        <p class="h5 p-3">1</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        <div class="d-flex flex-column justify-content-center">
                            <span class="h6px-2">홍성웅</span>
                            <span class="px-2">1540점</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="py-5">
                    <div class="p-2 d-flex align-items-center" id="second">
                        <p class="h5 p-3">1</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        <div class="d-flex flex-column justify-content-center">
                            <span class="h6px-2">홍성웅</span>
                            <span class="px-2">1540점</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="py-5">
                    <div class="p-2 d-flex align-items-center" id="third">
                        <p class="h5 p-3">1</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        <div class="d-flex flex-column justify-content-center">
                            <span class="h6px-2">홍성웅</span>
                            <span class="px-2">1540점</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="py-5">
                    <div class="p-2 d-flex align-items-center" id="fourth">
                        <p class="h5 p-3">1</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        <div class="d-flex flex-column justify-content-center">
                            <span class="h6px-2">홍성웅</span>
                            <span class="px-2">1540점</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Zay Shop</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        123 Consectetur at ligula 10660
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Luxury</a></li>
                    <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                    <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                    <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                    <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                    <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                    <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">About Us</a></li>
                    <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                    <li><a class="text-decoration-none" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none" href="#">Contact</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                    <div class="input-group-text btn-success text-light">Subscribe</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 Company Name
                        | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src="../static/js/jquery-1.11.0.min.js"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/templatemo.js"></script>
<script src="../static/js/custom.js"></script>
<!-- End Script -->
</body>

</html>