<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://thymeleaf.org">
<head>
    <title>새글 작성</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../static/img/apple-icon.png">
    <link rel="shortcut icon" type="/image/x-icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/templatemo.css" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BMHANNAPro:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
    />
    <link
            rel="stylesheet"
            href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"
    />
    <!--


    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>

<body>

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
            Zay
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-end ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">곽곽랭킹</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comunity.html">커뮤니티</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comunity.html">곽곽 RSS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shop.html">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->
<section class="container py-5">
    <h4>곽곽랭킹 | Github</h4>
    <div class="d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-between">
            <span>가을의 정원사 랭킹(9월~11월)</span>
            <a class="nav-link ms-auto" href="#"> 자세히 보기 -></a>
        </div>
        <div class="row text-center">
            <div class="col-12 col-sm mb-4">
                <div class="py-5">
                    <div class="p-2 first">
                        <p class="h3 py-2">1등</p>
                        <div class="d-flex justify-content-center">
                            <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        </div>
                        <p class="h3 py-2">홍성웅</p>
                        <p class="h5 py-2">1540점</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm mb-4">
                <div class="py-5 px-2">
                    <div class="p-2 second">
                        <p class="h3 py-2">2등</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile_2.jpg" alt="profile">
                        <p class="h3 py-2">일기호</p>
                        <p class="h5 py-2">1520점</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm mb-4">
                <div class="py-5 px-2">
                    <div class="p-2 third">
                        <p class="h3 py-2">3등</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile_3.png" alt="profile">
                        <p class="h3 py-2">먹꼬자</p>
                        <p class="h5 py-2">1000점</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm mb-4">
                <div class="py-5 px-2">
                    <div class="p-2 fourth">
                        <p class="h3 py-2">4등</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile_3.png" alt="profile">
                        <p class="h3 py-2">심점빌런</p>
                        <p class="h5 py-2">10점</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm mb-4">
                <div class="py-5 px-2">
                    <div class="p-2 fifth">
                        <p class="h3 py-2">5등</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile_3.png" alt="profile">
                        <p class="h3 py-2">일점</p>
                        <p class="h5 py-2">1점</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <span>9월 4주차 정원사 랭킹</span>
            <a class="nav-link ms-auto" href="#"> 자세히 보기 -></a>
        </div>
        <div class="row text-center ">
            <div class="col-12 col-md-3 mb-4">
                <div class="py-5">
                    <div class="p-2 d-flex align-items-center first">
                        <p class="h5 p-3">1</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        <div class="d-flex flex-column justify-content-center">
                            <span class="h6px-2">홍성웅</span>
                            <span class="px-2">1540점</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="py-5">
                    <div class="p-2 d-flex align-items-center second">
                        <p class="h5 p-3">1</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        <div class="d-flex flex-column justify-content-center">
                            <span class="h6px-2">홍성웅</span>
                            <span class="px-2">1540점</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="py-5">
                    <div class="p-2 d-flex align-items-center third">
                        <p class="h5 p-3">1</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        <div class="d-flex flex-column justify-content-center">
                            <span class="h6px-2">홍성웅</span>
                            <span class="px-2">1540점</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="py-5">
                    <div class="p-2 d-flex align-items-center fourth">
                        <p class="h5 p-3">1</p>
                        <img class="rank_profile rounded-circle my-2" src="../static/img/profile.png" alt="profile">
                        <div class="d-flex flex-column justify-content-center">
                            <span class="h6px-2">홍성웅</span>
                            <span class="px-2">1540점</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../static/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../static/js/templatemo.js" th:src="@{/js/templatemo.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
</body>

</html>