<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://thymeleaf.org">
<head>
    <title>글 작성</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../static/img/apple-icon.png">
    <link rel="shortcut icon" type="/image/x-icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/templatemo.css" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}">


    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BMHANNAPro:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
    />
    <link
            rel="stylesheet"
            href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"
    />
    <!--


    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>

<body style="height: 100%">

<script type="text/javascript" src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
<section class="container pt-2 pb-5">
    <input type="text" class="form-control my-3 py-3 h2" placeholder="제목을 입력해주세요!" aria-label="Username" aria-describedby="basic-addon1" style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
    <input type="text" id="tag" class="form-control my-3 px-auto py-2" placeholder="태그를 추가해주세요" aria-label="Username" aria-describedby="basic-addon1" style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
    <div id="tag_list" class="d-flex">

    </div>
    <select class="form-select mb-3" aria-label="Default select example">
        <option selected>카테고리를 정해주세요!</option>
        <option value="free">자유/잡담</option>
        <option value="question">질의응답</option>
        <option value="study">스터디</option>
    </select>
    <div id="editor"></div>
    <div class="d-flex justify-content-end my-2">
        <button type="button" class="btn btn-dark mx-1">작성 취소</button>
        <button type="button" class="btn btn-primary">작성 끝</button>
    </div>
    <form action="/community" method="post">
        <input type="hidden">
        
    </form>
</section>


<!-- Start Script -->
<script src="../static/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../static/js/templatemo.js" th:src="@{/js/templatemo.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<script>
const { Editor } = toastui;
const { codeSyntaxHighlight } = Editor.plugin;
 const editor = new Editor.factory({
  el: document.querySelector('#editor'),
  height: '75vh',
  initialEditType: 'markdown',
  plugins: [codeSyntaxHighlight],
  previewStyle: 'tab'
});


editor.getMarkdown();

// 태그 추가
 $('#tag').keyup(function(){
    if(event.keyCode === 13 || event.keyCode === 188){
      var tag = $('#tag').val().split(',')[0];
      if(tag){
        var hidden = document.getElementsByName("tag");
        var chk=true;
        hidden.forEach(function(element){
           if(tag===element.value){
                chk=false;
           }
        });
        if(chk){
            var input = document.createElement("input");
            var div = document.createElement("div");
            input.setAttribute("type","hidden");
            input.setAttribute("value",tag);
            input.setAttribute("name","tag");

            div.setAttribute("class","btn btn-primary py-1 mx-1 mb-3");
            div.onclick=function(){del_tag(this);};
            div.innerHTML = tag;

            document.getElementById("tag_list").appendChild(div);
            document.getElementById("tag_list").appendChild(input);

        $('#tag').val('');
        }
      }
    }
  });

  //태그 삭제 기능
  function del_tag(obj){
    var input = document.getElementsByName("tag");
    input.forEach(function(element){
      if(obj.innerHTML===element.value){
        document.getElementById("tag_list").removeChild(element);
        document.getElementById("tag_list").removeChild(obj);
        return;
      }
    });
  }


</script>
<!-- End Script -->
</body>

</html>