<!DOCTYPE html>
<html lang="ko" style="height: 100%;">

<head>
    <title>Zay Shop eCommerce HTML CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/static/img/apple-icon.png">
    <link rel="shortcut icon" type="/image/x-icon" href="/static/img/favicon.ico">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/templatemo.css">
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
    />
    <link
            rel="stylesheet"
            href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"
    />
    <!--


    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>

<body style="height: 100%;">

<script type="text/javascript" src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
<section class="container py-5">
    <div id="editor"></div>
</section>


<!-- Start Script -->
<script src="/static/js/jquery-1.11.0.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/templatemo.js"></script>
<script src="/static/js/custom.js"></script>
<script>
const { Editor } = toastui;
const { codeSyntaxHighlight } = Editor.plugin;
 const editor = new Editor.factory({
  el: document.querySelector('#editor'),
  height: '90vh',
  initialEditType: 'markdown',
  plugins: [codeSyntaxHighlight],
  previewStyle: 'tab'
});


editor.getMarkdown();
console.log(colorSyntax);
</script>
<!-- End Script -->
</body>

</html>